@font-face 
{
    font-family: Outfit;
    src: url(/fonts/Outfit-VariableFont_wght.ttf);
}

body
{
    background-color: #cde4e4;
}

section
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 6px #00000027;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.card img
{
    border-radius: 16px;
    width: 100%;
}

.card .card-title
{
    font-family: Outfit;
    font-weight: 600;
    font-size: 2em;
    color: hsl(218, 44%, 22%);
}

.card .card-description
{
    font-family: Outfit;
    font-size: 1.25em;
    color: hsl(220, 15%, 55%);
}