@font-face
{
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body
{
    background-color: hsl(217, 54%, 11%);
}

.nft-preview-card
{
    background-color: hsl(216, 50%, 16%);
}