body
{
    background-color: #cde4e4;
}

.card
{
    background-color: #ffffff;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
}

.card img
{
    border-radius: 16px;
}

.card .card-title
{
    font-size: 1.5em;
}