@font-face
{
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

:root
{
    --card-font-family: Outfit, Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    background-color: hsl(217, 54%, 11%);
}

.nft-card-container
{
    padding: 3.6em 1em;
}

.nft-card
{
    background-color: hsl(216, 50%, 16%);
    padding: 1.5em;

    font-family: var(--card-font-family);
}

.nft-card-image
{
    width: 100%;
}

.nft-card-heading
{
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.nft-card-description
{
    color: hsl(215, 51%, 70%);
    line-height: 1.75;
}

/* Statistics */

.statistics
{
    display: flex;
    justify-content: space-between;
}