@font-face
{
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

:root
{
    --card-font-family: Outfit, Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    background-color: hsl(217, 54%, 11%);
}
